.book {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  width: 23%;
  background-color: rgb(165, 230, 230);
}

.book1 {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  background-color: rgb(165, 230, 230);
}

.book1 > button {
  margin: 0 2% 2% 0;
  height: 35px;
}